.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make it fill the available space */
    padding: 0px;
  }
  
  .header {
    flex: 0 0 auto; /* Prevent the header from growing or shrinking */
  }
  
  .content {
    flex: 1 1 auto; /* Allow the content to grow and shrink */
    //border-color: 'red';
    //border-radius: 2px;
    //display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    overflow: auto; 
    padding: 16px;
  
  }
  
  .footer {
    flex: 0 0 auto; /* Prevent the footer from growing or shrinking */
  }
